flows.json
[
    {
        "id": "627cfd63be7f56a1",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "10b45adb182842d1",
        "type": "inject",
        "z": "627cfd63be7f56a1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "g9",
                "v": "Saludos grupo 9",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "c6558e8675422518",
                "1315a50d75eaad9c"
            ]
        ]
    },
    {
        "id": "5e245ca04c9b7228",
        "type": "debug",
        "z": "627cfd63be7f56a1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 120,
        "wires": []
    },
    {
        "id": "c6558e8675422518",
        "type": "function",
        "z": "627cfd63be7f56a1",
        "name": "",
        "func": "var date = new Date(msg.payload);\nmsg.payload = date.toString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 80,
        "wires": [
            [
                "5e245ca04c9b7228",
                "f4643db2a474e21c",
                "5ed2e70e24b3acc4"
            ]
        ]
    },
    {
        "id": "f4643db2a474e21c",
        "type": "ui_text",
        "z": "627cfd63be7f56a1",
        "group": "581ce40f06e05d0d",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fecha - Label",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 520,
        "y": 80,
        "wires": []
    },
    {
        "id": "1315a50d75eaad9c",
        "type": "debug",
        "z": "627cfd63be7f56a1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 140,
        "wires": []
    },
    {
        "id": "5ed2e70e24b3acc4",
        "type": "debug",
        "z": "627cfd63be7f56a1",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "g9",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 200,
        "wires": []
    },
    {
        "id": "581ce40f06e05d0d",
        "type": "ui_group",
        "name": "Fecha actual - Group",
        "tab": "8e82298ff8a36ba9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8e82298ff8a36ba9",
        "type": "ui_tab",
        "name": "Flow2-Fecha",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]